<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spriten.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Spriten.Properties.Settings>
            <setting name="ForegroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MaskBorderColor" serializeAs="String">
                <value>Salmon</value>
            </setting>
            <setting name="MaskBodyColor" serializeAs="String">
                <value>NavajoWhite</value>
            </setting>
            <setting name="MaskEmptyBodyColor" serializeAs="String">
                <value>LightGreen</value>
            </setting>
            <setting name="MaskBorderBodyColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="CheckerboardBgColor1" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="CheckerboardBgColor2" serializeAs="String">
                <value>GhostWhite</value>
            </setting>
            <setting name="PixelGridColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ShowPixelGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PenSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PenOpacity" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="ShowBrushOutline" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserToolMode" serializeAs="String">
                <value>Draw</value>
            </setting>
            <setting name="ColorDockSelectorMode" serializeAs="String">
                <value>Box</value>
            </setting>
        </Spriten.Properties.Settings>
    </userSettings>
</configuration>